[Unit]
Description=Screenly OSE Monitoring Add-On - Device Info
After=network-online.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/soma/device-info
Environment="PATH=/home/pi/soma/device-info/devinfenv/bin"
ExecStart=/home/pi/soma/device-info/devinfenv/bin/python3 info.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target