[Unit]
Description=Screenly OSE Monitoring Add-On - Device Info
After=network-online.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/soma/device-info
Environment="PATH=/home/pi/soma/device-info/devinfenv/bin"
ExecStart=/home/pi/soma/device-info/devinfenv/bin/gunicorn --workers 2 --bind unix:devinf.sock -m 007 wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
