[Unit]
Description=Screenly OSE Monitoring Add-on - Capture Output
After=network-online.target

[Service]
WorkingDirectory=/home/pi/soma/monitor-output
User=pi
ExecStart=/bin/bash /home/pi/soma/monitor-output/capture-output.sh
Restart=always
OnUnitInactiveSec=3s

[Install]
WantedBy=multi-user.target
